page-capsule {

  p {
    color: #b1b1b1;
  }

  .capsule-status {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;

    &.active {
      color: green;
    }

    &.inactive {
      color: indianred;
    }
  }
}

