<!--
  Generated template for the LaunchPadsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Launchpads</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card *ngFor="let launchpad of launchpads">
    <ion-card-header>
      {{ launchpad.location.name }} - {{ launchpad.location.region }}
      <div class="launchpad-card-subtitle">
        {{ launchpad.status }}
        <br>
        (Lat: {{ launchpad.location.latitude }}, Lng: {{ launchpad.location.longitude }})
      </div>
    </ion-card-header>
    <ion-card-content>
      {{ launchpad.details }}

      <div class="launchpad-card-vehicles-title">Vehicles Launched</div>
      <div class="launchpad-card-vehicles-content" *ngFor="let vehicle of launchpad.vehicles_launched">
        {{ vehicle }}
      </div>

    </ion-card-content>
  </ion-card>

</ion-content>