page-launch-pads {

}

.launchpad-card-subtitle {
    margin-top: 1rem;
    color: #b1b1b1;
    text-transform: capitalize;
    font-size: smaller;
}

.launchpad-card-vehicles-title {
    margin-top: 1rem;
    color: #f7f7f7;
}

.launchpad-card-vehicles-content {
    font-size: small;
}

