// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.card-header-md,
.card-header-ios,
.card-header-wp {
    color: #f7f7f7;
}

.card-md p,
.card-content-ios p,
.card-content-wp p,
.card-content-md,
.card-content-ios,
.card-content-wp {
    color: #b1b1b1
}

.drawer-background {

    display: flex;
    min-height: 200px;
    background-image: url(../assets/imgs/placeholder.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

    .drawer-background-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .drawer-title {
            font-size: 1.85rem;
            margin-bottom: 0.85rem;
        }

        .drawer-subtitle {
            font-weight: 100;
            color: #b1b1b1;
        }
    }
}