<!--
  Generated template for the RocketDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ rocket?.rocket_name }} Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card *ngIf="rocket">
    <ion-card-header>
      {{ rocket.rocket_name }}
      <p *ngIf="rocket.active">Active</p>
      <p *ngIf="!rocket.active">Inactive</p>
    </ion-card-header>
    <ion-card-content class="rocket-details-card-content">
      {{ rocket.description }}

      <div class="rocket-card-divider"></div>

      <ion-grid no-padding>
        <ion-row>
          <ion-col col-6>
            <h3>Company</h3>
            {{ rocket.company }}
          </ion-col>
          <ion-col col-6>
            <h3>Country</h3>
            {{ rocket.country }}
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col col-6>
            <h3>Cost per launch</h3>
            {{ rocket.cost_per_launch | currency }}
          </ion-col>
          <ion-col col-6>
            <h3>Success rate</h3>
            {{ rocket.success_rate_pct }} %
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col col-6>
            <h3>Height</h3>
            {{ rocket.height.meters }} meters
          </ion-col>
          <ion-col col-6>
            <h3>Diameter</h3>
            {{ rocket.diameter.meters }} meters
          </ion-col>
        </ion-row>
        <br>
        <ion-row>
          <ion-col col-6>
            <h3>Mass</h3>
            {{ rocket.mass.kg }} Kg
          </ion-col>
          <ion-col col-6>
            <h3>First Flight</h3>
            {{ rocket.first_flight }}
          </ion-col>
        </ion-row>


      </ion-grid>

      <div class="rocket-card-divider"></div>

      <ion-grid no-padding>
        <h3>Engines</h3>
        <ion-row>
          <ion-col col-6>
            Nº of Engines: {{ rocket.engines.number }}
          </ion-col>
          <ion-col col-6>
            Type: {{ rocket.engines.type }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            Version: {{ rocket.engines.version }}
          </ion-col>
          <ion-col col-6>
            Layout: {{ rocket.engines.layout }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            Propellant 1: {{ rocket.engines.propellant_1 }}
          </ion-col>
          <ion-col col-6>
            Propellant 2: {{ rocket.engines.propellant_2 }}
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="rocket-card-divider"></div>

      <ion-grid no-padding>
        <h3>Landing Legs</h3>
        <ion-row>
          <ion-col col-6>
            Quantity: {{ rocket.landing_legs.number }}
          </ion-col>
          <ion-col col-6>
            Material: {{ rocket.landing_legs.material }}
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="rocket-card-divider"></div>
      <h3 (click)="openRocketWikipedia($event, rocket.wikipedia)">{{ rocket.rocket_name }} Wikipedia</h3>
    </ion-card-content>
  </ion-card>

</ion-content>